* {
  box-sizing: border-box;
  padding: 0;
  font-family: "IM Fell Great Primer SC", serif;
}
body {
  margin: 0;
}

p {
  font-size: 1.2em;
}
#input-box {
  background: lightgray;
  padding: 5px;
  font-size: 1em;
}

#container {
  padding: 50px;
}
.buttons-container {
  display: flex;
  flex-direction: row;
}
.btn {
  cursor: pointer;
  margin: 15px 15px 0 0;
  font-size: 1em;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background: gray;
  color: white;
}
.easy-button {
  background: lightsteelblue;
  color: black;
}

.hard-button {
  background: firebrick;
  color: white;
}
#new-game-button {
  background: linear-gradient(to bottom, gray, black);
  width: 20%;
}
.new-button-container {
  margin: 20px 0px;
}

.user-lost {
  background-color: rgb(36, 34, 34);
  color: white;
  background-image: url("https://www.offtheleash.net.au/sites/default/files/uploads/event/images/thumbnails/dsc_0073_smaller.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
.user-won {
  background: url("https://i.pinimg.com/originals/f5/d6/bd/f5d6bdd60c34b7c8a238e781f676e509.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
